*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(img.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.nav{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family:  'Times New Roman', Times, serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family:  'Times New Roman', Times, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}
.search{
    width: 330px;
    padding: 20px;
    float: right;
    margin-right: 100px;
    height: 40px;
    margin-top: 0px;
}

.btnn{
    background-color: #ff7200;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 70px;
    border-radius: 10px;
    font-family:  'Times New Roman', Times, serif;
    font-size: 15px;
    }

    .srch{
        height: 30px;
        border: #ff7200;
        border-style: solid;
        text-align: center;
        border-radius: 10px;
        background: transparent;
        color: white;
    }
    .content{
        margin-left: 50px;
        margin-top: 100px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    .join{
        background-color: #ff7200;
        height: 30px;
        width: 100px;
        color: azure;
        margin-top: 30px;
    }

    .content .join{
        width: 160px;
        height: 40px;
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 23px;
        border-radius: 10px;
        cursor: pointer;
        
    }

 .content .join a {
     text-decoration: none;
     color: black;
     font-family: 'Times New Roman', Times, serif;
 }
 .join:hover{
    color: black;
     background-color: aliceblue;
  }
.para{
  width: 600px;
  text-align: justify;
  word-spacing: 5px;
}
.form{
    width: 250px;
    height: 390px;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    position:absolute;
    top:150px;
    left: 850px;
    border-radius: 10px;
    padding: 25px;
}

/* .btn{
    margin-top: 20px;
}
.lg{
    margin-bottom: 20px;
} */

.form h2{
    width: 220px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
   width: 240px;
   height: 35px;
   background: transparent;
   border-bottom: 1px solid #ff7200;
   border-top: none;
   border-left: none;
   color: white;
   font-size: 15px;
   letter-spacing: 1px;
   margin-top: 30px;
   font-family: 'Times New Roman', Times, serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.btn:hover{
    background: white;
    color: #ff7200;
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.sn{
    font-family: 'Times New Roman', Times, serif;
     color: #ff7200;
     text-decoration: none;
     padding-left: 80px;
}

.sn a{
    text-align: center;
    text-decoration: none;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: white;
    }

.icon ion-icon{
    color: white;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 2px;
}

.icon ion-icon:hover{
    color: #ff7200;
}